:root{ /*Paleta de Colores Elegida*/
    --blue-xxx:#276678;
    --blue-xx:#1687A7;
    --blue-x: #D3E0EA;
    --light:#F6F5F5;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
    color:#F6F5F5;
}

.form-control, .btn {
    min-height: 3.125rem;
    line-height:inherit;
    border-radius: 10px;
   
}

.btn{
    background-color: #276678;
    color: #F6F5F5 ;
    font-size: 2rem;
    border-radius: 10px;
}

h1{
    color: #1687A7;
}

a{
    color: #1687A7;
    text-decoration:none ;
}

a:hover{
    color: #276678;  
    font-size: 16px;
}

.img-1 {
    background-size: cover;
    background-position: center;
  
}
.carousel-inner{
    height: 400px;
    }

.box-sombra {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
    
