<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&family=Spartan:wght@300;600&display=swap" rel="stylesheet"> -->

<body class="bg-light">
<section>
    <div class="row">
        <div class="col-lg-7 d-flex flex-column">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <!-- <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                </div> -->
                <!-- Los indicadores del carrusel los saqué porque no sumaban mucho y se peleaban un poquito con el footer -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../assets/bCel.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/bCelAzul.jpg" class="d-block w-100" alt="...">
                  </div>
                  <!-- <div class="carousel-item">
                    <img src="../../../assets/bCeluCop.jpg" class="d-block w-100" alt="...">
                  </div> -->
                  <!-- Saqué esta imagen, y la que era igual al comienzo, porque tienen distintas dimensiones a las otras y quedaba raro -->
                  <div class="carousel-item">
                    <img src="../../../assets/bMonedaAzul.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/bVerde.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>

    <div class="col-lg-5 d-flex flex-column">
        <div class="px-lg-5 py-lg-4 p-4 w-100 aling-self-center">
            <h1 class="font-weight-bold mb-4">Ingresá a MyMoney</h1>
            <form [formGroup]="login">
                <div class="mb-4">
                  <label class="form-label font-weight-bold">Email</label>
                  <input type="email" class="form-control" placeholder="Ingresá tu email" formControlName="email">
                  <p *ngIf="email!.invalid && email!.touched" class="advertencia"
                            style="color: rgb(136, 17, 37); font-style: italic; font-size: smaller;">
                            Correo necesario. Formato usuario@proveedor.com</p>
                </div>

                <div class="mb-4">
                  <label class="form-label font-weight-bolt">Contraseña</label>
                  <input type="password" class="form-control" placeholder="Ingrese su contraseña" formControlName="contrasena">
                  <p *ngIf="contrasena!.invalid && contrasena!.touched" class="advertencia"
                            style="color: rgb(136, 17, 37); font-style: italic; font-size: smaller;">
                            Ingrese una contraseña. Mínimo 5 caracteres.</p>
                </div>

                <button type="submit" class="mb-4 gradiente-btn btn rounded-pill box-sombra w-100 button" routerLink="modulopesos">Ingresar</button>
                
                <div class=" breadcrumb2 text-center px-lg-5 pt-lg-3 pb-lg-4 p-4 "> 
                    <li><a routerLink="RecoveryPasswordComponent" routerLinkActive="link-activo" [routerLinkActiveOptions]="
                  {exact: true}">¿Olvidaste tu contraseña?</a></li>
                </div>
                
              </form>
        </div>
      </div>
    </div>
</section>
</body>