<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&family=Spartan:wght@300;600&display=swap" rel="stylesheet">

<body class="bg-light">
<section>
    <div class="row g-0">
        <div class="col-lg-7">

        </div>
    <div class="col-lg-5">
        <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4">
            <img src="imagenApp.jpg" class="img-fluid">
        </div>
        <div class="px-lg-5 py-lg-4 p-4">
            <h1 class="font-weight-bold mb-4">Ingresa a MyMoney</h1>
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label font-weight-bold">Email</label>
                  <input type="email" class="form-control bg-dark-x border-2" placeholder="Ingresa tu Email" required id="exampleInputEmail1">
                </div>

                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label font-weight-bolt">Contraseña</label>
                  <input type="password" class="form-control bg-dark-x border-2" placeholder="Ingresa tu contraseña" required id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Ingresar</button>
                <a href="#" id="recuperarContraseña" class=" form-text  text-decoration-none mb-2 " > ¿Olvidaste tu contraseña?</a>
                <br>
                <div class="registro">
                    <a href="#" id="registro" class="form-text  text-decoration-none mb-2" > ¿Ahun no tienes una cuenta? Registrate.</a>
                </div>             
              </form>
        </div>
    </div>
    </div>
</section>
</body>