<section class="  container col-12  overflow-hidden" style="min-width: 425px; ">
    <div class="row row-cols-2">
        <div class=" col-12 col-lg-6 mb-3">
            <div class="gradiente form-control bg-primary text-center d-flex align-items-center justify-content-center título">
                    <div class="pl-2"></div>
                    <h3>Comprar Criptomoneda</h3>
            </div>
        <!--Acá va la transferencia-->
        <div class="box-sombra border border-dark form-control">
            <form action="" class="row p-2" [formGroup]="comprarCripto">
                
                <div class="form-group row mb-3">
                    <label class="col-3 col-form-label" for="moneda">Moneda</label>
                    <div   class="col-8">
                        <select name="moneda" id="moneda" class="form-select" required>
                            <option selected>CriptoMoneda...</option>
                            <option >Bitcoin</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row mb-3 ">
                    <label for="monto" class="col-3 col-form-label ">Monto</label>
                    <div class="col-8">
                        <input class="form-control " type="text" name="monto" id="monto" placeholder="Monto a comprar" formControlName="montoCripto" >
                    </div>
                    
                    <span *ngIf="montoCripto && montoCripto.invalid && montoCripto.touched" 
                style="color: rgb(136, 17, 37); font-style: italic; font-size: smaller; padding-left: 33%;">
                Monto necesario</span>
                </div>
                
                <div class="form-group row mb-3">
                    <label class="col-3 col-form-label nowrap" for="Total">Total $</label>
                    <div class="col-8">
                        <input class="form-control" type="text" name="total" readonly> 
                    </div>   
                </div>
            </form>
        </div>
        <!--Hasta acá-->
            <div class="mt-2">
                <button class=" gradiente-btn btn btn-primary rounded-pill box-sombra">
                    Comprar</button>
            </div>
            
        </div>
        <div class="mb-3 col-12 col-lg-6">
            <div class="gradiente form-control bg-primary text-center título">
                    <h3>Últimas Transferencias</h3>
            </div>
        </div>
    </div>
</section>