:root{
    --dark:#16191c;
    --dark-x:#1e2126;
    --light:#ffffff;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
    color:var(--light);
}

/*.bg-light {background-color: var(--dark) !important;}*/
.bg-dark-x{background-color: var(--dark-x);}
 
.form-control, .btn {
    min-height: 3.125rem;
    line-height:inherit;
    -webkit-border-radius: 10px;
    border-radius: 10px;
   
}
.img-1 {
    background-size: cover;
    background-position: center;
  
}
.box-sombra {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.gradiente {
    background: #5ee7df;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top, rgba(94, 231, 223, 0.7), rgba(180, 144, 202, 0.7));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top, rgba(94, 231, 223, 0.7), rgba(255, 255, 255, 0.7))
  }
  .gradiente-btn {
  /* fallback for old browsers */
  background: #48c6ef;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to top, rgba(72, 198, 239, 0.7), rgba(111, 134, 214, 0.7));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to top, rgba(72, 198, 239, 0.7), rgba(111, 134, 214, 0.7))
}



.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
  }