<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&family=Spartan:wght@300;600&display=swap" rel="stylesheet">


<body class="container d-flex">
  <div class="row aling-items-center justify-content-center">
  
      <h1 class="font-weight-bold mb-4 text-center">Cree una cuenta en MyMoney</h1>
      <form class="" [formGroup]="registro">
        <div class="row">            
            
            <div class="col-12 col-sm-12 col-md-6 col-lg-6"> <!--columna izquierda-->
              
              <div class="mb-4">
                <label class="form-label">Usuario</label>
                <div class="input-group">
                  <span class="input-group-text" id="inputGroupPrepend2">@</span>
                  <input type="text" class="form-control" placeholder="Nombre de Usuario"  
                  aria-describedby="inputGroupPrepend2" formControlName="usuario">
                </div>
                <p *ngIf="usuario!.invalid && usuario!.touched" class="advertencia"
                            style="color: rgb(136, 17, 37); font-style: italic; font-size: smaller;">
                            Nombre de usuario necesario. Mínimo 5 caracteres.</p>
              </div>
            </div>
              
            <div class="col-12 col-sm-12 col-md-6 col-lg-6"> <!--columna derecha-->
              
              <div class="mb-4" >
                <label class="form-label font-weight-bold">Email</label>
                <input type="email" class="form-control" placeholder="Ingrese su Email" formControlName="email">
                <p *ngIf="email!.invalid && email!.touched" class="advertencia"
                            style="color: rgb(136, 17, 37); font-style: italic; font-size: smaller;">
                            Correo necesario. Formato usuario@proveedor.com</p>
              </div>
            </div>
          </div>

        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6"> <!--columna derecha-->
            
            <div class="mb-4" >
              <label class="form-label font-weight-bolt ">Contraseña</label>
              <input type="password" class="form-control" placeholder="Ingrese su contraseña" formControlName="contrasena">
              <p *ngIf="contrasena!.invalid && contrasena!.touched" class="advertencia"
                            style="color: rgb(136, 17, 37); font-style: italic; font-size: smaller;">
                            Contraseña necesaria. Mínimo 5 caracteres.</p>
            </div>

          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-6"> <!--columna izquierda-->
              
            <div class="mb-4">
              <label class="form-label font-weight-bolt">Repetir contraseña</label>
              <input type="password" class="form-control" placeholder="Repita su contraseña" formControlName="repetirContrasena">
              <p *ngIf="repetirContrasena!.invalid && repetirContrasena!.touched" class="advertencia"
                            style="color: rgb(136, 17, 37); font-style: italic; font-size: smaller;">
                            Debe introducir la misma contraseña.</p>
            </div>

          </div>
        </div>

        <div class="row  ">            
            
          <div class="col-12 col-sm-12 col-md-6 col-lg-6"> <!--columna izquierda-->
            
            <div class="mb-4">
              <label class="form-label">Nombre</label>
              <input type="text" class="form-control"  placeholder="Su/s nombre/s" formControlName="nombre">
              <p *ngIf="nombre!.invalid && nombre!.touched" class="advertencia"
                            style="color: rgb(136, 17, 37); font-style: italic; font-size: smaller;">
                            Debe introducir un nombre válido. Sin números.</p>
            </div>

          </div>
            
          <div class="col-12 col-sm-12 col-md-6 col-lg-6"> <!--columna derecha-->
            
            <div class="mb-4">
              <label class="form-label">Apellido</label>
              <input type="text" class="form-control" placeholder="Su/s apellido/s" formControlName="apellido">
              <p *ngIf="apellido!.invalid && apellido!.touched" class="advertencia"
                            style="color: rgb(136, 17, 37); font-style: italic; font-size: smaller;">
                            Debe introducir un apellido válido. Sin números.</p>
            </div>

          </div>

        </div>

        <button type="submit" class="mb-4 gradiente-btn btn btn-primary rounded-pill box-sombra col-12 col-sm-12 col-lg-12 col-xl-12 mb-auto btn btn-primary">Registrarse</button>
      </form>
   </div>   
</body>
