:root{
    --dark:#16191c;
    --dark-x:#1e2126;
    --light:#ffffff;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
    color:var(--light);
}

/*.bg-light {background-color: var(--dark) !important;}*/
.bg-dark-x{background-color: var(--dark-x);}
 
.form-control, .btn {
    min-height: 3.125rem;
    line-height:inherit;
    -webkit-border-radius: 10px;
    border-radius: 10px;
   
}
.img-1 {
    background-size: cover;
    background-position: center;
  
}




.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
  }