<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&family=Spartan:wght@300;600&display=swap" rel="stylesheet">


<body class="container d-flex">
  <div class="row aling-items-center justify-content-center">
  
      <h1 class="font-weight-bold mb-4 text-center">Cree una cuenta en MyMoney</h1>
      <form class="">
        <div class=" "></div>
        <div class="row">            
            
            <div class="col-12 col-sm-12 col-md-6 col-lg-6"> <!--columna isquierda-->
              
              <div class="mb-4">
                <label for="validationDefaultUsername" class="form-label">Usuario <span class="text-danger">*</span></label>
                <div class="input-group">
                  <span class="input-group-text" id="inputGroupPrepend2">@</span>
                  <input type="text" class="form-control border-2" placeholder="Nombre de Usuario" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
                </div>
              </div>

            </div>
              
            <div class="col-12 col-sm-12 col-md-6 col-lg-6"> <!--columna derecha-->
              
              <div class="mb-4" >
                <label for="exampleInputEmail1" class="form-label font-weight-bold">Email <span class="text-danger">*</span></label>
                <input type="email" class="form-control border-2  " placeholder="Ingresa tu Email" required id="exampleInputEmail1">

               
              </div>
            </div>

          </div>

        <div class="row  ">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6"> <!--columna derecha-->
            
            <div class="mb-4" >
              <label for="Password1" class="form-label font-weight-bolt ">Contraseña <span class="text-danger">*</span></label>
              <input type="password" class="form-control border-2 " placeholder="Ingrese su contraseña" required id="Password1">
            </div>

          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-6"> <!--columna isquierda-->
              
            <div class="mb-4">
              <label for="Password2" class="form-label font-weight-bolt ">Contraseña <span class="text-danger">*</span></label>
              <input type="password" class="form-control border-2 " placeholder="Repita su contraseña" required id="Password2">
            </div>

          </div>
        </div>

        <div class="row  ">            
            
          <div class="col-12 col-sm-12 col-md-6 col-lg-6"> <!--columna isquierda-->
            
            <div class="mb-4">
              <label for="validationDefault01" class="form-label">Nombre <span class="text-danger">*</span></label>
              <input type="text" class="form-control border-2"  placeholder="Sus Nombres" required id="validationDefault01">
            </div>

          </div>
            
          <div class="col-12 col-sm-12 col-md-6 col-lg-6"> <!--columna derecha-->
            
            <div class="mb-4">
              <label for="validationDefault02" class="form-label">Apellido <span class="text-danger">*</span></label>
              <input type="text" class="form-control border-2" id="validationDefault02" placeholder="Su Apellido" required>
            </div>

          </div>

        </div>

        <button type="submit" class=" mb-4 gradiente-btn btn btn-primary rounded-pill box-sombra w-100 col-12 col-sm-12 col-lg-12 col-xl-12 mb-auto mb-4 btn btn-primary">Ingresar</button>
      </form>
             
        <div class="col-12 col-sm-12 col-lg-12 col-xl-12 text-center px-lg-5 pt-lg-3 pb-lg-3 p-4 "> 
            <a href="#" id="recuperarContraseña" class=" form-text  text-decoration-none mb-2" > ¿Olvidaste tu contraseña?</a>
        </div>
   </div>   
      
    
</body>
