:root{
    --blue-xx:#276678;
    --blue-x:#1687A7;
    --light:#F6F5F5;
}

input.ng-valid {
    border-left: 4px solid green;
  }
  
  input.ng-invalid {
    border-left: 4px solid red;
  }
  
  input.ng-pristine {
    border-left: 4px solid yellow;
  }

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
    background-color:#F6F5F5;
    padding-bottom: 0px;
    margin-bottom: -60px;
}

h1{
    color: #1687A7;
}

a{
    color: #1687A7;
    text-decoration:none ;
}

a:hover{
    color: #276678;  
    font-size: 16px;
}

.form-control, .btn {
    min-height: 3.125rem;
    line-height:inherit;
    -webkit-border-radius: 10px;
    border-radius: 10px;
   
}

.btn{
    background-color: #276678;
    color: #F6F5F5 ;
    font-size: 2rem;
}

.img-1 {
    background-size: cover;
    background-position: center;
  
}
.box-sombra {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
  }

  p {
    font-weight: lighter;
    font-family: sans-serif;
    margin-bottom: 0%;
    margin-top: .4rem;
    margin-left: 2rem;
  }