<div class=" recuperarPass col-lg-6 d-flex flex-column">
    <div class="px-lg-5 py-lg-5 p-4 w-100 aling-self-center">
        <h1 class="font-weight-bold mb-4">¿Olvidaste tu contraseña?</h1>
        <h2></h2>
        <form [formGroup]="recuperar">
            <div class="mb-4">
              <label class="form-label font-weight-bold">Email</label>
              <input type="email" class="form-control" placeholder="Ingrese su email" formControlName="recuperarContrasena">
              <p *ngIf="recuperarContrasena!.invalid && recuperarContrasena!.touched"
                            style="color: rgb(136, 17, 37); font-style: italic; font-size: smaller;">
                            Correo necesario. Formato usuario@proveedor.com</p>
            </div>

            <button type="submit" class="mb-4 gradiente-btn btn rounded-pill box-sombra w-100" routerLink="">Recuperar</button>
            
            <div class="text-center px-lg-5 pt-lg-3 pb-lg-4 p-4 ">                 
                <a routerLink="">Volver</a>
            </div>
          </form>
    </div>
  </div>
