<div class=" recuperarPass col-lg-5 d-flex flex-column">
    <div class="px-lg-5 py-lg-5 p-4 w-100 aling-self-center">
        <h1 class="font-weight-bold mb-4">¿Olvidaste tú Contraseña?</h1>
        <h2></h2>
        <form>
            <div class="mb-4">
              <label for="InputEmail" class="form-label font-weight-bold">Email</label>
              <input type="email" class="form-control border-2" placeholder="Ingresá tu email" required id="exampleInputEmail1">
            </div>

            <button type="submit" class="mb-4 gradiente-btn btn rounded-pill box-sombra w-100" routerLink="">Ingresar</button>
            
            <div class="text-center px-lg-5 pt-lg-3 pb-lg-4 p-4 ">                 
                <a routerLink="">Volver</a>
            </div>
          </form>
    </div>
  </div>
