<div class="grid-container">
    <nav class="aside navbar_aside">
        <ul class="menu_aside" id="menu_aside">
            <li class="menu_item"><a href="#" class="menu_link">Inicio</a></li>
            <li class="menu_item"><a href="#" class="menu_link">Quienes Somos</a></li>
            <li class="menu_item"><a href="#" class="menu_link">Preguntas Frecuentes</a></li>
            <li class="menu_item"><a href="#" class="menu_link">Contactenos</a></li>
            <li class="menu_item"><a href="#" class="menu_link">Legales</a></li>
        </ul>
    </nav> 
    
    <div class="preguntas">
        <div class="grid__titulo ">
            <div class="flex-container">
                <div class="title__servicio">
                    <h3 class="title">Información regulatoria de MyMoney</h3>
                </div>
                <div class="p__servicio">
                    <p>De acuerdo a la normativa vigente del Banco Central de la República Argentina, Ualá es un Proveedor de Servicios de Pago (en adelante, “PSP”) inscripto bajo el número 33.549 en el Registro de Proveedores de Servicios de Pago que ofrecen cuentas de pago del Banco Central de la República Argentina. Asimismo, Ualá se encuentra en la categoría Proveedores No Financieros de Crédito e inscripto en el Registro Otros Proveedores No Financieros de Crédito del Banco Central de la República Argentina.

                        No está autorizado por el para operar como una entidad financiera (como banco o como compañía financiera) en los términos de la Ley Nº 21.526.
                        
                        Por ende los fondos depositados en las cuentas de pago no constituyen depósitos en una entidad financiera regulada y no cuentan con las garantías de depósitos en entidades financieras.
                        
                        A diferencia de esas entidades, MyMoney no presta depósitos de sus usuarios.</p>
                </div>
            </div>
        </div>
        <div class="pregunta">
            <div class="flex-container">
                <div class="title__servicio">
                    <h3 class="title">Responsabilidad por los fondos</h3>
                </div>
                <div class="p__servicio">
                    <p>De acuerdo a la normativa BCRA, MyMoney mantendrá los fondos de las cuentas de los Usuarios disponibles en cuentas corrientes a la vista, a su nombre, en entidades financieras autorizadas por el BCRA de la República Argentina.

                        El dinero de las cuentas de los Usuarios siempre está disponible para ser retirada cuando lo requieran. MyMoney no será responsable en ningún caso por hechos que afecten la disponibilidad de los fondos y/o por la insolvencia de dichas entidades financieras reguladas.
                        
                        MyMoney, dado su carácter de PSP y al no ser una entidad financiera en los términos de la Ley N° 21.526, no realiza intermediación financiera. La intermediación financiera es la actividad que caracteriza a los Bancos, entre otras entidades, y se produce cuando se utiliza el dinero de los depositantes para otorgar préstamos. A diferencia de los bancos, MyMoney no presta depósitos, por lo que sus préstamos son con capital propio.</p>
                </div>
            </div>
        </div>
        <div class="pregunta">
            <div class="flex-container">
                <div class="title__servicio">
                    <h3 class="title">Información sobre Prevención de Lavado de Dinero y Financiamiento del Terrorismo.</h3>
                </div>
                <div class="p__servicio">
                    <p> MyMoney es un Sujeto Obligado de acuerdo con la Ley 25.246 y modificatorias (Art. 20). Por la actividad que realizamos estamos obligados a obtener datos de nuestros clientes y monitorear sus operaciones con el fin de informar a la Unidad de Información Financiera (UIF) y así prevenir el lavado de dinero y la financiación del terrorismo. Otros Sujetos Obligados son, por ejemplo, los Bancos, las Compañías de Seguros, los escribanos, entre otros.

                        MyMoney cumple con todas las normas aplicables sobre prevención de lavado de activos y financiamiento del terrorismo, principalmente la Resolución UIF 76/2019.</p>
                </div>
            </div>
        </div>
        <div class="pregunta">
            <div class="flex-container">
                <div class="title__servicio">
                    <h3 class="title">Información sobre Anticorrupción</h3>
                </div>
                <div class="p__servicio">
                    <p>MyMoney se compromete fuertemente con el cumplimiento de todas las normas aplicables en materia de anticorrupción, tales como la ley 27.401 de responsabilidad penal de las personas jurídicas. MyMoney cuenta con un Plan de Integridad que abarca varios aspectos relacionados.</p>
                </div>
            </div>
        </div>
    </div>
</div>
