<div class="container-fluid-md">
  <nav class=" gradient-custom navbar-expand-sm  navbar-expand-lg navbar navbar-light justify-content-star p2 mb-4" style="background-color: #ccffff;">
    <div class="container-fluid ">
        <a *ngIf="misaldo"  routerLink="modulopesos">
        <img class="navbar-brand w-25" src="../../../assets/logoMyMoney.jpg" alt="">
        </a>
        <a *ngIf="inicio"  routerLink="/">
        <img class="navbar-brand w-25" src="../../../assets/logoMyMoney.jpg" alt="">
        </a>
        
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="contenedor d-flex aling-items-start">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active fs-5 " *ngIf="inicio" aria-current="page" routerLink="/">Inicio</a>
              <a class="nav-link fs-5" *ngIf="misaldo" routerLink="modulopesos">MiSaldo</a>  
              <a class="nav-link fs-5" *ngIf="registro" routerLink="registro">Registrarse</a>
              <a class="nav-link fs-5" *ngIf="cripto" routerLink="modulocripto">Criptomonedas</a>
              <a class="nav-link fs-5" *ngIf="usuario" routerLink="usuario">Usuario</a>       
            </div>
        </div>
        
      </div>
    </div>
  </nav>
</div>
