<nav class=" justify-content-star navbar navbar-expand-lg navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid ">
        <a href="#">
        <img class="navbar-brand w-25" src="../../../assets/LogoMyMoney.jpeg" alt="">
        </a>
        
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active fs-5 fw-bolt" aria-current="page" href="#">Inicio</a>
          <a class="nav-link fs-5 fw-bolt" href="#">Criptomonedas</a>
          <a class="nav-link fs-5 fw-bolt" href="#">Usuario</a>          
        </div>
        
      </div>
    </div>
  </nav>
