<!-- <div class="p-5 bg-light " > -->
<section class="  container col-12  overflow-hidden" style="min-width: 425px; ">
        <div class="row row-cols-2">
            <div class=" col-12 col-lg-6 mb-3">
                <div class="gradiente form-control bg-primary text-center d-flex align-items-center justify-content-center título">
                        <div class="pl-2"></div>
                        <h3>Dinero Disponible</h3>
                </div>
                <div class="box-sombra border border-dark form-control p-4">
                    <div class="box-sombra container bg-light border-dark border m-1 p-0">
                        <div class="p-3 col-1">
                            <label>$1000</label>
                        </div>
                    </div>
                </div>
                <div class="mt-2 " >
                    <button class=" gradiente-btn btn btn-primary rounded-pill box-sombra" [routerLink]="['/transferirpesos']">
                        Transferir Dinero</button>
                </div>
                
            </div>
            <div class="mb-3 col-12 col-lg-6">
                <div class="gradiente form-control bg-primary text-center título">
                        <h3>Tus Actividades</h3>
                </div>
                <div class="box-sombra border border-dark form-control p-4">
                        <div class="col-12 mb-3 p-2">
                            <input class="box-sombra form-control rounded-pill" type="text" placeholder="Buscar...">
                        </div>
                        <table class="table">
                            <tbody >
                                <tr *ngFor="let saldo of listsaldo">
                                    <td *ngIf="saldo.Origen != saldo.Destino && saldo.Origen != idUsuario ">
                                        Recibiste
                                    </td>
                                    <td *ngIf="saldo.Origen != saldo.Destino && saldo.Destino != 4  ">
                                        Transferiste
                                    </td>
                                    <td *ngIf="saldo.Origen == saldo.Destino ">
                                        Ingresaste
                                    </td>
                                    <td>{{saldo.Origen}}</td>
                                    <td>{{saldo.Destino}}</td>
                                    <td>${{saldo.monto}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <div class=" box-sombra border border-dark form-control d-flex text-center align-items-center p-0">
                            <div class="col-3 p-3">
                                <img  src="" alt="Bitcoin">
                            </div>
                            <div class=" col-6 ">
                                <p class="m-0">Compraste Bitcon por</p>
                            </div>
                            <div class="col-3">
                                <label for="">$30</label>
                            </div>
                        </div>
                        <div class="box-sombra border border-dark form-control d-flex text-center border align-items-center p-0">
                            <div class="col-3 p-3">
                                <img  src="" alt="Bitcoin">
                            </div>
                            <div class="col-6">
                                <p class="m-0">Comptraste Bitcon por</p>
                            </div>
                            <div class="col-3">
                                <label for="">$30</label>
                            </div>
                        </div> -->
                        
                </div>
            </div>
        </div>
</section>
<!-- </div> -->