<div class="contenedor">
  <!--↓Acá mandamos al componente navbar los valores dentro de estas propiedades↓-->
  <app-navbar
    [registro]="registro"
    [inicio]="inicio"
    [cripto]="cripto"
    [misaldo]="misaldo"
    [usuario]="usuario"
    [salir]="salir"
  ></app-navbar>
  <!--↑navbar está escuchando con los @input↑-->
<!-- <app-recovery-password></app-recovery-password> -->
  <router-outlet></router-outlet>
</div>
  <!-- El outlet por default va a mostrar login-component -->
  <app-footer></app-footer>
  <!--Footer dejar al final-->
  <!-- <app-contacto></app-contacto>
<app-legales></app-legales>
<app-quienes-somos></app-quienes-somos>
<app-preguntas-frecuentes></app-preguntas-frecuentes> -->

  <!-- <app-registration-form></app-registration-form> -->
  <!--<app-login></app-login>-->
  <!-- <app-vender-cripto-moneda></app-vender-cripto-moneda> -->
  <!-- <app-modulo-pesos></app-modulo-pesos> -->
  <!-- Modulos Registro Usuario y modulo Login -->
  <!--<app-registration-form></app-registration-form>-->
  <!-- <app-login></app-login> -->
  <!-- <app-perfil-usuario></app-perfil-usuario> -->
  <!-- <app-vender-cripto-moneda></app-vender-cripto-moneda> -->
  <!-- <app-modulo-pesos></app-modulo-pesos> -->
  <!-- <app-transferir-pesos></app-transferir-pesos> -->

