<div class="row col-xs-12">
    <label style="padding-bottom: 3px;">Últimas Transferencias</label>
</div>

<div class="container-sm border" style="padding: 5px; width: clamp(300px, 300px, 450px)">

    <div class="row align-items-center">
        <div class="col" style="padding-left: 13px">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="row" style="padding-top: 7px;">
        <div class="col text-center">
            <button class="btn btn-success">Buscar</button>
        </div>
    </div>
</div>
