<div class="grid-container">
    <!-- <nav class="aside navbar_aside">
        <ul class="menu_aside" id="menu_aside">
            <li class="menu_item"><a href="#" class="menu_link">Inicio</a></li>
            <li class="menu_item"><a href="#" class="menu_link">Quienes Somos</a></li>
            <li class="menu_item"><a href="#" class="menu_link">Preguntas Frecuentes</a></li>
            <li class="menu_item"><a href="#" class="menu_link">Contactenos</a></li>
            <li class="menu_item"><a href="#" class="menu_link">Legales</a></li>
        </ul>
    </nav>  -->
    
    <div class="preguntas">
        <div class="grid__titulo ">
            <div class="flex-container">
                <div class="title__servicio">
                    <h3 class="title">Preguntas Frecuentes</h3>
                </div>
                <div class="p__servicio">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam earum maxime magni impedit. Provident sunt, repellat molestiae nam autem magnam. Voluptatum neque quasi, corporis veritatis officia placeat sunt repellendus cupiditate ipsam vitae optio nam veniam debitis excepturi enim alias atque. Dolor recusandae ullam, inventore quaerat porro dignissimos sequi enim veniam.</p>
                </div>
            </div>
        </div>
        <div class="pregunta">
            <div class="flex-container">
                <div class="title__servicio">
                    <h3 class="title">¿Cómo funciona MyMoney?</h3>
                </div>
                <div class="p__servicio">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam earum maxime magni impedit. Provident sunt, repellat molestiae nam autem magnam. Voluptatum neque quasi, corporis veritatis officia placeat sunt repellendus cupiditate ipsam vitae optio nam veniam debitis excepturi enim alias atque. Dolor recusandae ullam, inventore quaerat porro dignissimos sequi enim veniam.</p>
                </div>
            </div>
        </div>
        <div class="pregunta">
            <div class="flex-container">
                <div class="title__servicio">
                    <h3 class="title">¿Cómo ingreso dinero?</h3>
                </div>
                <div class="p__servicio">
                    <p>La forma de ingresar dinero varía respecto al país donde esté, mayormente se puede ingresar dinero mediante tarjeta de crédito, tarjeta de débito, cupón de pago por ventanilla, transferencia bancaria, otros medios online, etc.</p>
                </div>
            </div>
        </div>
    </div>
</div>

