<section class="container  col-8 col-sm-8   mt-3 "  style="min-width: 425px;">
    <div class="row ">
        <div class="border-bottom mb-3" >
            <ul class=" row list-unstyled mb-0 text-center">
                <li class="col-5 col-sm-5 col-md-4 col-lg-3"><a href="#" class="text-decoration-none">Datos Personales</a></li>
                
            </ul>
        </div >
        <h5>Datos de cuenta</h5>
        <div >
            <div class="border row row-cols-2 justify-content-between d-flex form-control m-0" >
                <div class="row row-cols-2 col-md-6">
                    <div class="col text-leftr">Usuario</div>
                    <div class="col-12 col-md-4 text-leftr">DIAZEXEQUIEL789456123</div>
                </div>
                <div class="col-3 col-md-2 text-center">
                    <div class="">></div>
                </div>
            </div>
            <div class="border row row-cols-2 form-control d-flex justify-content-between m-0" >
                <div class="row row-cols-2 col-md-6">
                    <div class="col text-leftr">Email</div>
                    <div class="col-12 col-md-4 text-leftr">exequiel@gmail.com</div>
                </div>
                <div class="col-3 col-md-2 text-center">
                    <div class="">></div>
                </div>
            </div>
        </div>
        <h5>Datos personales</h5>
        <div >
            <div class="border row row-cols-2 form-control d-flex justify-content-between m-0" >
                <div class="row row-cols-2 col-md-6">
                    <div class="col text-leftr">Nombre</div>
                    <div class="col-12 col-md-4 text-leftr">Exequiel</div>
                </div>
                <div class="col-3 col-md-2 text-center">
                    <div class="">></div>
                </div>
            </div>
            <div class="border row row-cols-2 form-control d-flex justify-content-between m-0" >
                <div class="row row-cols-2 col-md-6">
                    <div class="col text-leftr">Apellido</div>
                    <div class="col-12 col-md-4 text-leftr">Díaz</div>
                </div>
                <div class="col-3 col-md-2 text-center">
                    <div class="">></div>
                </div>
            </div>
            <div class="border row row-cols-2 form-control d-flex justify-content-between m-0" >
                <div class="row row-cols-2 col-md-6">
                    <div class="col text-leftr">DNI</div>
                    <div class="col-12 col-md-4 text-leftr">45789159</div>
                </div>
                <div class="col-3 col-md-2 text-center">
                    <div class="">></div>
                </div>
            </div>
            <div class="border row row-cols-2 form-control d-flex justify-content-between m-0" >
                <div class="row row-cols-2 col-md-6">
                    <div class="col text-leftr">telefono</div>
                    <div class="col-12 col-md-4 text-leftr"></div>
                </div>
                <div class="col-3 col-md-2 text-center">
                    <div class="">Agregar</div>
                </div>
            </div>
        </div>
        <h5>Tu CVU</h5>
        <div class="col">
            <div class="border row form-control d-flex m-0" >
                <div class="col text-left"><a href="#">Ver tu CVU</a></div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
</section>

