<div class="grid-container">
    <!-- <nav class="aside navbar_aside">
        <ul class="menu_aside" id="menu_aside">
            <li class="menu_item"><a href="#" class="menu_link">Inicio</a></li>
            <li class="menu_item"><a href="#" class="menu_link">Quienes Somos</a></li>
            <li class="menu_item"><a href="#" class="menu_link">Preguntas Frecuentes</a></li>
            <li class="menu_item"><a href="#" class="menu_link">Contactenos</a></li>
            <li class="menu_item"><a href="#" class="menu_link">Legales</a></li>
        </ul>
    </nav>     -->
    
        <div class="encabezado ">
            <div class="flex-container">
                <div class="title__servicio">
                    <h3 class="title">MyMoney SA</h3>
                </div>
                <div class="p__servicio">
                    <p>MyMoney de MyMoney SA es una nueva y mejor forma de tener el control total sobre su dinero. Puede transferir dinero a amigos, familiares y socios comerciales con una cuenta de MyMoney. Con MyMoney, cada usuario puede agregar dinero al transferir o depositar dinero en MyManey y ya podra tener control absoluto desde su teléfono u ordenador</p>
                </div>
            </div>
        </div>
        <div class="sec1">
            <div class="flex-container">
                <div class="title__servicio">
                    <h3 class="title">Envíe y Reciba Fondos</h3>
                </div>
                <div class="p__servicio">
                    <p>MiMoney es una herramienta sin límites y totalmente gratuita que permite a sus usuarios enviar dinero en cualquier momento.</p>
                </div>
            </div>
        </div>
        <div class="sec2">
            <div class="flex-container">
                <div class="title__servicio">
                    <h3 class="title">Invierta en Dolares</h3>         
                </div>
                <div class="p__servicio">
                    <p>Con MyMoney convierta su dinero a Dolares Americanos a la mejor cotizacion del mercado y sin costos extras</p>
                </div>
            </div>
        </div>
        <div class="sec3">
            <div class="flex-container">
                <div class="title__servicio">
                    <h3 class="title">Invierta en Criptomonedas</h3>
                </div>
                <div class="p__servicio">
                    <p>MyMoney permite a los usuarios comprar y vender criptomonedas y realizar un seguimiento de los precios. Los horarios los ponés vos. Operá cualquier día, a cualquier hora en cualquier lugar. Operá sin comisiones ocultas o costos de mantenimiento. </p>
                </div>
            </div>
        </div>
        <div class="final">
            <div class="flex-container">
                <div class="title__servicio">
                    <h3 class="title">MyMoney esta regulada por el Banco Central de la Republica Argantina</h3>
                </div>
                <div class="p__servicio">
                    <p>De acuerdo a la normativa vigente del Banco Central de la República Argentina, MyMoney es un Proveedor de Servicios de BLABLABLA inscripto bajo el número xx.xxxx en el Registro de Proveedores de Servicios de Pago que ofrecen cuentas de pago del Banco Central de la República Argentina. Asimismo, MyMoney se encuentra en la categoría Proveedores No Financieros de Crédito e inscripto en el Registro Otros Proveedores No Financieros de Crédito del Banco Central de la República Argentina.</p>
                </div>
            </div>
        </div>
    
</div>
