
footer{
    margin-top: 250px;
}

.row{
padding: 25px;

}

h3{
    color: #276678;
}

ul{
    padding-left: 0;
    list-style:none ;
    margin: 0;
}

ul li{
    margin: 10px;
}

ul li a{
    color: #276678;
    text-decoration: none;    
}

.redes{
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    
}
.redes a{
    margin: 0 7.5px;
    color: #276678;
}


  @media(max-width:767px){
      
        .footer{
            text-align: center;
        }

        .columna-mobile-100{
            width: 100%;
        }
  
 } /* //cierra @media  */



.gradient-custom {
   
    background: #D3E0EA;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right,  #D3E0EA, #F6F5F5);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #D3E0EA, #F6F5F5)
}

