<section class="  container col-12  overflow-hidden" style="min-width: 425px; ">
    <div class="row row-cols-2">
        <div class=" col-12 col-lg-6 mb-3">
            <div class="gradiente form-control bg-primary text-center d-flex align-items-center justify-content-center título">
                    <div class="pl-2"></div>
                    <h3>Transferir Dinero</h3>
            </div>
            
        <!--Acá va la transferencia-->
        <div class="box-sombra border border-dark form-control p-4" style="background-color: #e8fafa; padding: 5px"
        [formGroup]="transferirPesos">
            <div class="row" style="align-items: baseline; text-align: center;"> <!--Comienza fila 1-->
                <div class="col-4"> <!--Columna izquierda, fila 1-->
                    <div class="col-auto">
                        <label style="padding-left: 4px">Usuario o CVU:</label>
                    </div>
                </div>
                <div class="col-8"> <!--Columna derecha, fila 1-->
                    <div class="col">
                        <input type="text" class="form-control" formControlName="cuentaATransferir">
                    </div>
                    <span *ngIf="cuentaATransferir!.invalid && cuentaATransferir!.touched"
                            style="color: rgb(136, 17, 37); font-style: italic; font-size: smaller;">
                            Cuenta necesaria. Ingrese un CVU o usuario válido.</span>
                </div>
            </div>


            <div class="row" style="align-items: baseline; text-align: center;"><!--Comienza fila 2-->
                <div class="col-4"> <!--Columna izquierda, fila 2-->
                    <div class="col-auto">
                        <label style="padding-left: 4px">Monto:</label>
                    </div>
                </div>
                <div class="col-8"> <!--Columna derecha, fila 2-->
                    <div class="col">
                        <input type="number" class="form-control" formControlName="montoATransferir">
                    </div>
                    <span *ngIf="montoATransferir!.invalid && montoATransferir!.touched" 
                            style="color: rgb(136, 17, 37); font-style: italic; font-size: smaller;">
                            Monto necesario.</span>
                </div>
            </div>
        </div>
        <!--Hasta acá-->

            <div class="mt-2">
                <button class=" gradiente-btn btn btn-primary rounded-pill box-sombra" [routerLink]="['/transferirpesos']">
                    Realizar Transferencia</button>
            </div>
            
        </div>
        <div class="mb-3 col-12 col-lg-6">
            <div class="gradiente form-control bg-primary text-center título">
                    <h3>Últimas Transferencias</h3>
            </div>
        </div>
    </div>
</section>