<div class="row col-xs-12">
    <label style="padding-bottom: 3px;">Transferir Dinero</label>
</div>

<div class="container-sm border" style="padding: 5px; width: clamp(240px, 300px, 300px)">

    <div class="row align-items-center">
        <div class="col-auto" style="padding-right: 5px; min-width: 75px">
            <label style="padding-left: 4px">Cuenta:</label>
        </div>
        <div class="col" style="padding-left: 0px">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="row align-items-center" style="padding-top: 5px; ">
        <div class="col-auto" style="padding-right: 5px; min-width: 75px">
            <label style="padding-left: 4px">Monto:</label>
        </div>
        <div class="col" style="padding-left: 0px">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="row" style="padding-top: 7px;">
        <div class="col text-center">
            <button class="btn btn-success">Enviar</button>
        </div>
    </div>
</div>